@font-face {
    font-family: LCARSGTJ3;
    src: url(../fonts/LCARSGTJ3.ttf);
  }

* {
    font-family: LCARSGTJ3; 
}

body {
    background-color: black;
    overflow: hidden;
}

a:link , a:visited, a:hover a:active {
    color: black;
    font-size: 100px;
    text-decoration: none;
}

#overlay {
    color: #FFCC66;
    font-size: 64px;
    position: absolute;
    z-index:100;
    width: 430px;
    left:264px;
    top:146.5px;
}

#overlayShutdown {
    position: absolute;
    z-index:100;
    left:60px;
    top:-7px;
}

