<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/addons/styles/styles.css?v=1.2">
        <script src="https://app.ticos-systems.cloud/scripts/AngularEmbeddedCounter.js"></script> 
	</head>
	
	<body>
        <div class="grid-container">
            <div class="item1" id="topCorner"><div id="shutdown">&emsp;&#0133</div></div>
            <div class="item2" id="topBorder"><div id="timeCell">{{.Info.TimeStr}}</div></div>
            <div class="item4" id="rightSidebar"></div>
            <div class="item5" id="bottomCorner"><br><br><br>REQUEST TOOK: {{.RequestInfo.ElapasedStr}}</div>
            <div class="item6" id="bottomBorder"><div id="dateCell">{{.Info.DateStr}}</div></div>
            <div class="item7" id="topBorder"></div>
            <div class="item8" id="bottomBorder"></div>
            <div class="item9" id="homeButton"><a href="../home/index">Home</a></div>  
            <div class="item10" id="radioButton"><a href="../radio/index">Radio</a></div> 
            <div class="item11 activeButton" id="rand1Button">Badi</div> 
            <div class="item12" id="labButton"><a href="../lab/index">lab</a></div> 
            <div class="item13" id="aboutButton"><a href="../about/index">About</a></div> 
            <div class="item3" id="mainFrame">
                <br>
                    <iframe onload="iFrameHeight(this)"	id="blockrandom-98"
                    name=""
                    src="https://www.badi-info.ch/_temp/_status/olten-status.htm"
                    width="100%"
                    height="130"
                    scrolling="no"
                    frameborder="0"
                    title="Aktuelle Besucherzahl"
                    class="wrapper" >
                    Keine IFrames</iframe>
            </div>
        </div>
        <script src="/addons/js/refresh.js"></script>
	</body>

</html>