<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="refresh" content="10" />
		<link rel="stylesheet" type="text/css" href="/addons/styles/styles.css?v=1.2">
	</head>
	
	<body>
        
        <div id="overlayShutdown"><a href="http://localhost:8080/shutdown/Test">&#0133</a></div>
        <div id='overlay'>{{.Info.SongName}}</div>
        <svg width="797.64px" height="477.14px" viewBox="0 0 797.64 477.14" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="Sketch007" transform="translate(1.0,1.0) scale(1,1)">
            <path id="Sketch007_w0000"  d="M 250.0 0.0 L 40.0 2.3575455251328235e-24 A 40 40 0 0 0 0 40L 0.0 77.0 L 160.0 77.0 A 40 40 0 0 1 200 37L 250.0 37.0 L 250.0 0.0 " stroke=none style="fill:#4E486E;fill-rule: evenodd "/>
            <path id="Sketch007_w0007"  d="M 255.0 0.0 L 666.0 0.0 L 666.0 37.0 L 255.0 37.0 L 255.0 0.0 " stroke=none style="fill:#CC6699;fill-rule: evenodd "/>
            <path id="Sketch007_w0007"  d="M 745.0 37.0 L 782.0 37.0 L 782.0 0.0 L 745.0 0.0 L 745.0 37.0 " stroke=none style="fill:#CC6699;fill-rule: evenodd "/>
            <path id="Sketch007_w0004"  d="M 0.0 137.5 L 160.0 137.5 L 160.0 82.0 L 0.0 82.0 L 0.0 137.5 " stroke=none style="fill:#3A93D1;fill-rule: evenodd "/>
            <path id="Sketch007_w0002"  d="M 0.0 198.0 L 160.0 198.0 L 160.0 142.5 L 0.0 142.5 L 0.0 198.0 " stroke=none style="fill:#FFCC66;fill-rule: evenodd "/>
            <path id="Sketch007_w0001"  d="M 0.0 258.5 L 160.0 258.5 L 160.0 203.0 L 0.0 203.0 L 0.0 258.5 " stroke=none style="fill:#006699;fill-rule: evenodd "/>
            <path id="Sketch007_w0003"  d="M 0.0 319.0 L 160.0 319.0 L 160.0 263.5 L 0.0 263.5 L 0.0 319.0 " stroke=none style="fill:#CC99CC;fill-rule: evenodd "/>
            <path id="Sketch007_w0007"  d="M 0.0 379.5 L 160.0 379.5 L 160.0 324.0 L 0.0 324.0 L 0.0 379.5 " stroke=none style="fill:#C77000;fill-rule: evenodd "/>
            <path id="Sketch007_w0005"  d="M 0.0 384.5 L 160.0 384.5 A 40 40 0 0 0 200 424.5L 250.0 424.5 L 250.0 461.5 L 40.0 461.5 A 40 40 0 0 1 0 421.5L 0.0 384.5 " stroke=none style="fill:#4E52A3;fill-rule: evenodd "/>
            <path id="Sketch007_w0007"  d="M 745.0 424.5 L 782.0 424.5 L 782.0 461.5 L 745.0 461.5 L 745.0 424.5 " stroke=none style="fill:#882211;fill-rule: evenodd "/>
            <path id="Sketch007_w0006"  d="M 255.0 461.5 L 524.0 461.5 L 524.0 424.5 L 255.0 424.5 L 255.0 461.5 " stroke=none style="fill:#882211;fill-rule: evenodd "/>
            <title>b'Sketch007'</title>
            <text x="2" y="134.5" fill="black" font-size="64" font-family="LCARSGTJ3">STATION</text>
            <text x="255" y="134.5" fill="#3A93D1" font-size="64" font-family="LCARSGTJ3">{{.Info.StationName}}</text>
            <text x="2" y="195" fill="black" font-size="64" font-family="LCARSGTJ3">SONG</text>
            <text x="670" y="37" fill="#CC6699" font-size="50" font-family="LCARSGTJ3">{{.Info.TimeStr}}</text>
            <text x="528" y="461.5" fill="#882211" font-size="50" font-family="LCARSGTJ3">{{.Info.DateStr}}</text>
            <text x="50" y="461.5" fill="black" font-size="24" font-family="LCARSGTJ3">Request took: {{.RequestInfo.ElapasedStr}}</text>
            </g>
        </svg>
        

	</body>

</html>