<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="refresh" content="10" />
		<link rel="stylesheet" type="text/css" href="/addons/styles/styles.css?v=1.2">
	</head>
	
	<body>
        <div class="infoBox">
		<h1 id="heading">{{.Title}}</h1>
        <div class="textNorm">{{.Info.DateTime}}</div>
        <br>
        <div class="textNorm">{{.Info.StationName}}</div>
        <br>
        <div class="textNorm">{{.Info.SongName}}</div>
		<br>
		<div class="textSmall">Request took {{.RequestInfo.ElapasedStr}}</div> 
        <br>
        <div class="textNorm"><a href="http://localhost:8080/shutdown/Test">Shutdown</a></div>
        </div> 
	</body>

</html>