<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/addons/styles/styles.css?v=1.2">
        <script src="http://threejs.org/build/three.min.js"></script>
        <script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>
    </head>
	<body>
        <div class="grid-container">
            <div class="item1" id="topCorner"><a href="../shutdown/Test" id="shutdown">&emsp;&#0133</a></div>
            <div class="item2" id="topBorder"><div id="timeCell">{{.Info.TimeStr}}</div></div>
            <div class="item4" id="rightSidebar"></div>
            <div class="item5" id="bottomCorner"><br><br><br>REQUEST TOOK: {{.RequestInfo.ElapasedStr}}</div>
            <div class="item6" id="bottomBorder"><div id="dateCell">{{.Info.DateStr}}</div></div>
            <div class="item7" id="topBorder"></div>
            <div class="item8" id="bottomBorder"></div>
            <div class="item9" id="homeButton"><a href="../home/index">Home</a></div> 
            <div class="item10" id="radioButton"><a href="../radio/index">Radio</a></div> 
            <div class="item11" id="rand1Button"></div> 
            <div class="item12" id="labButton"><a href="../lab/index">lab</a></div> 
            <div class="item13" id="aboutButton" style="width:200px; border-radius: 0px 25px 25px 0px;"><a href="../about/index">About</a></div> 
            <div class="item3" id="mainFrame">
                <div style="float: left">
                    <div style="background: green" onclick="eyeMoveLeft()">&larr;</div>
                    <div style="background: green" onclick="eyeMoveUp()">&uarr;</div>
                    <div style="background: green" onclick="eyeMoveRight()">&rarr;</div>
                    <div style="background: green" onclick="eyeMoveDown()">&darr;</div>
                </div>
                <div style="float: left;">
                <div id="controlEye"><input type="number" id="rotX" value="0.01"></div>
                <div id="controlEye"><input type="number" id="rotY" value="0.01"></div>
                <br>
                <div id="controlEye"><input type="number" id="moveX" value="0.4"></div>
                <div id="controlEye"><input type="number" id="moveY" value="0.4"></div>
                <br> 
                <button onclick="eyeMoveSubmit()">Submit</button><button onclick="eyeReset()">Reset</button>
                </div>
                <div id="eyeDiv" style="float: left;"></div>

            </div>
        </div>
    </body>
    <script src="/addons/js/refresh.js"></script>
    <script src="/addons/js/eye.js"></script>
</html>